#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"
#include "qwertz_macos.h"
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define SYM 1
#define NAV 2
#define SYS 3
#define CRIT 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;
            mods = <(MOD_LSFT)>;
        };


    };

    combos {
        compatible = "zmk,combos";

        combo_ae {
            timeout-ms = <50>;
            key-positions = <13 3>;                  // A + E
            bindings = <&kp DE_A_UMLAUT>;            // ä
        };

        combo_oe {
            timeout-ms = <50>;
            key-positions = <3 9>;                   // O + E
            bindings = <&kp DE_O_UMLAUT>;            // ö
        };

        combo_ue {
            timeout-ms = <50>;
            key-positions = <3 7>;                   // U + E
            bindings = <&kp DE_U_UMLAUT>;            // ü
        };

        combo_sz {
            timeout-ms = <50>;
            key-positions = <25 14>;                 // S + Z
            bindings = <&kp DE_ESZETT>;              // ß
        };

        combo_system {
            timeout-ms = <50>;
            key-positions = <33 34>;                 // SPACE + RET
            bindings = <&to SYS>;                    // Go to System layer
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q        &kp W        &kp E       &kp R        &kp T        &kp Y    &kp U        &kp I          &kp O        &kp P               &kp BACKSPACE
&kp LSHFT  &kp A  &kp S   &kp D  &kp F  &kp G        &kp H    &kp J  &kp K     &kp L   &kp SEMICOLON &kp SQT
&kp LCTRL  &kp Z        &kp X        &kp C       &kp V        &kp B        &kp N    &kp M        &kp COMMA      &kp DOT      &kp MINUS           &kp RSHFT
                                     &mt LCTRL TAB    &kp LGUI       &lt SYM SPACE    &lt NAV RET  &mt RSHFT BSPC       &mt LALT ESC 
            >;
        };

        SYM {
            display-name = "Sym";
            bindings = <
&trans  &kp N1         &kp N2         &kp N3         &kp N4         &kp N5         &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &trans
&trans  &kp PLUS       &kp MINUS      &kp STAR       &kp EQUAL      &kp EXCL       &kp AT         &kp HASH       &kp DLLR       &kp PERCENT    &kp CARET      &trans
&trans  &kp DE_EURO      &kp UNDERSCORE &kp PIPE       &kp SQT        &kp DQT        &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT      &kp BSLH       &trans
                                       &trans        &trans         &trans         &trans         &trans         &trans
            >;
        };
 
        NAV {
            display-name = "Nav";
            bindings = <
&trans  &trans           &trans      &trans      &trans           &trans           &trans           &trans       &trans       &trans            &trans      &trans
&trans  &trans    &kp TILDE      &kp LBKT      &kp LPAR    &kp LBRC           &kp RBRC   &kp RPAR &kp RBKT   &kp GRAVE   &trans     &trans
&trans  &trans           &trans      &trans      &trans           &trans           &trans        &trans     &trans        &trans            &trans      &trans
                                     &trans    &trans           &trans        &trans          &trans        &trans
            >;
        };

        SYS {
            display-name = "System";
            bindings = <
&trans  &kp C_BRI_DN  &kp C_BRI_UP  &trans      &trans       &trans     &trans     &trans     &kp C_MUTE   &kp C_VOL_DN  &kp C_VOL_UP  &trans
&trans  &trans        &trans        &trans      &trans       &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT &trans  &trans
&trans  &mo CRIT      &trans        &trans      &trans       &trans     &mkp MB1   &mkp MB2   &msc SCRL_UP &msc SCRL_DOWN &trans        &trans
                                     &trans     &trans       &trans     &trans     &trans     &trans            
            >;
        };

        CRIT {
            display-name = "Critical";
            bindings = <
&trans  &trans        &trans         &trans        &trans      &trans            &trans  &trans  &trans  &trans  &trans      &trans
&trans  &trans  &trans   &trans  &trans  &trans            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &trans      &trans
&trans  &trans        &trans         &trans        &trans &bt BT_CLR_ALL    &bootloader  &trans  &trans  &trans  &trans      &trans
                                     &trans        &trans      &trans            &trans  &trans  &trans
            >;
        };
    };
        conditional_layers {
            sys_layer {
                if-layers = <SYM NAV>;
                then-layer = <SYS>;
            };
    };
};
